*.pyc
*.log
*.output
*.avi
*.txt
*.pkl
*.png
*.csv

*.o
*.out
*.err
*.so
*.exe

faces
owner
neighbour
points
cellZones
pointZones
faceZones
*.hdf5

dynamicCode

processor*
0\.[0-9]*
[1-9]*\.[0-9]*
[1-9]*
*.foam

